@font-face {
    font-family: Pe-icon-7-stroke;
    src: url(assets/fonts/Pe-icon-7-strokebb1d.ttf);
}
@font-face {
    font-family: FontAwesome;
    src: url(assets/fonts/fontawesome-webfont3e6e.ttf);
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 15px;
    color: #fff;
    line-height: 1.15;
    scroll-behavior: smooth;
}
body{
    letter-spacing: 0.004em;
    font-size: 1rem;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 1.65;
    color: #5f5f5f;
}
.header{
    justify-self: center;
    position: fixed;
    text-align: justify;
    letter-spacing: 1px;
    height: 35px;
    width: 82%;
    padding: 33px 9%;
    background-color: transparent;
    color: #fff;
    transition: 0.2s;
    z-index: 1000;
}
.header__logo_link{
    text-decoration: none;
}
.header-scroll{
    background-color: #fff;
}
.header-scroll  .header__logo-light{
    display: none;
}
.header-scroll  .header__logo-solid{
    display: inline-block;
}
.header-scroll .nav__link{
    color: rgb(95, 95, 95);
}
.header-scroll .nav__link:hover{
    color: #0e0e0e;
}

.header::after {
    content: '';
    display: inline-block;
    width: 100%;
}
.nav{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 25px;
}

.header__logo{
    display: inline-block;
    height: 100%;
    width: 85px;
    z-index: 15;
}
.header__logo-solid{
    display: none;
}
.nav__link{
    font-size: 0.96rem;
    color: #bfbfbf;
    font-weight: 500;
    height: 100%;
    padding: 6px 15px;
    letter-spacing: 0.04em;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;
}
.nav__link:hover{
    color: #fff;
}
.nav__link:last-child{
    padding-right: 0;
}
.intro{
    height: 110.7vh;
    min-height: 800px;
    background-image: url(assets/images/home-7.jpg);
    background-size: cover; 
    background-position: 50% 50%;
    text-align: center;
}
.intro__overlay{
    height: 100%;
    background-color: rgba(12, 12, 12, 0.6);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr ;
    grid-template-rows: 1fr auto 5fr 1fr;
}
.intro__header,
.intro__title,
.intro__button_container{
    grid-column: 2;
}
.intro__header{
    color: #fff;
    line-height: 1.1;
    font-size: 14px;
    letter-spacing: 0.2em;
    
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 157px;
    margin-bottom: 16px;
}
.intro__title{
    color: #fff;
    font-family: Playfair Display,serif;
    font-weight: 700;
    line-height: 1.18;
    font-size: 3.4rem;
}
.intro__title > em{
    font-style: italic;
    font-weight: 400;
}
.btn{
    padding: 18px 25px;
    background-color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Work Sans;
    font-size: .96rem;
    font-weight: 500;
    line-height: 1.2;
    transition: 0.5s;
}
.btn-download{
    grid-row: 3;
    margin-top: 50px;
    margin-right: 10px;
    width: 200px;
}
.btn:hover{
    background-color: #444;
}
.scroll_down_button{
    grid-column: 2;
    padding-bottom: 60px;
}
.scroll_down_button__link{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    border-radius: 50%;
    border-width: 1px;
    text-decoration: none;
    opacity: 0.6;
}
.scroll_down_button__link > span{
    font-size: 30px;
    font-family: Pe-icon-7-stroke;
}
.scroll_down_button__link > span::before{
    content: "\e688";
}
.about,
.portfolio{
    padding-top: 90px;
    padding-bottom: 105px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr ;
    text-align: center;
}
.about__header,
.portfolio__header,
.about__signature{
    justify-self: center;
    grid-column: 2;
}
.about__header,
.portfolio__header{
    font-family: Playfair Display,serif;
    font-size: 2.6rem;
    color: #000000;
    margin-bottom: 30px;

}
.about__text,
.portfolio__text{
    margin-bottom: 24px;
    margin-left: 18%;
    margin-right: 18%;
    grid-column: 2;
}
.achievements{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    background-image: url(assets/images/bg-pattern.jpg);
    background-size: cover;
}
.achievements__container{
    grid-column: 2;
    grid-row: 2;
    display: grid;
}
.achievements__item{
    display: flex;
    float: left;
    padding: 0 15px;
    margin: 5px 0;
}
.achievements__item > span{
    width: 50px;
    height: 50px;
    font-family: Pe-icon-7-stroke;
    color: #fff;
    line-height: 1;
}
.achievements__item > span::before{
    font-size: 3.3rem;
}
.achievements__item-projects > span::before{
    content: "\e622";
}
.achievements__item-hours > span::before{
    content: "\e66b";
}
.achievements__item-feedbacks > span::before{
    content: "\e611";
}
.achievements__item-clients > span::before{
    content: "\e642";
}
.text_content{
    color: #fff;
    margin-left: 22px;
}
.portfolio{
    padding-bottom: 90px;
}
.portfolio__container{
    grid-column: 2;
    display: grid;
    justify-self: center;
    color: #fff;
}
.portfolio__item__link{
    text-decoration: none;
    color: inherit;
}
.portfolio__item__image:hover > .portfolio__item__overlay{
    opacity: 1;
}
.portfolio__item__image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.portfolio__item__overlay > h2{
    font-family: Playfair Display,serif;
    font-weight: 700;
    font-size: 1.69rem;
    padding-top: 130px;
    transition: 0.8s;
}
.portfolio__item__overlay > p{
    font-weight: 500;
    text-transform: uppercase;
}
.portfolio__item__overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 0;
    transition: 0.6s;
}
.portfolio__item__image-vinyl{
    background-image: url(assets/images/portfolio-7-sm.jpg);
}
.portfolio__item__image-mshirt{
    background-image: url(assets/images/portfolio-4-sm.jpg);
}
.portfolio__item__image-mbag{
    background-image: url(assets/images/portfolio-5-sm.jpg);
}
.portfolio__item__image-groovy{
    background-image: url(assets/images/portfolio-9-sm.jpg);
}
.portfolio__item__image-app{
    background-image: url(assets/images/portfolio-3-sm.jpg);
}
.portfolio__item__image-wshirt{
    background-image: url(assets/images/portfolio-8-sm.jpg);
}
.portfolio__item__image-card{
    background-image: url(assets/images/portfolio-2-sm.jpg);
}
.portfolio__item__image-stockholm{
    background-image: url(assets/images/portfolio-6-sm.jpg);
}
.portfolio__item__image-pbag{
    background-image: url(assets/images/portfolio-12-sm.jpg);
}
.contact{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #f6f6f6;
    padding: 100px 0;
}
.contact__container{
    grid-column: 2;
    display: grid;
}
.contact__header{
    font-family: Playfair Display;
    font-size: 2.6rem;
    color: #171717;
    grid-row: 1;
    margin-bottom: 25px;
}
.contact__text{
    grid-row: 2;
}
.contact__contact_details{
    margin-top: 24px;
    list-style: none;
    grid-row: 3;
}
.contact__contact_details strong{
    color: #171717;
}
.contact__contact_details li{
    margin-top: 12px;
}
.contact__contact_details li:first-child{
    margin: 0;
}
.contact__inputs{
    background-color: #fff;
    border: none;
    padding: 16px 22px;
    margin: 0 22px;
    height: 17px;
    font-family: Work Sans;
}
.contact__inputs-comment{
    height: 199px;
    resize: vertical;
}
.contact__button{
    margin-top: 30px;
    margin-left: 22px;
    width: 163px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #ebebeb;
    color: #5f5f5f;
}
.footer__container{
    grid-column: 2;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 25px; 
}
.social_media{
    list-style: none;
    padding-bottom: 12px;
}
.social_media__item{
    display: inline;
}
.social_media__item__link{
    padding: 3px 6px;
    text-decoration: none;
    color: inherit;
    opacity: 0.4;
}
.social_media__item__link:hover{
    opacity: 1;
    transition: 0.5s;
}
.social_media__item  span::before{
    font-family: FontAwesome;
    font-size: 1.13rem;
    content: "\f099";
}
.social_media__item-twitter  span::before{
    content: "\f099";
}
.social_media__item-facebook  span::before{
    content: "\f09a";
}
.social_media__item-dribbble  span::before{
    content: "\f17d";
}
.social_media__item-instagram  span::before{
    content: "\f16d";
}
.footer__text{
    margin-bottom: 24px;
}
.burger .social_media{
    padding: 51px 20px;
}
.burger .social_media__item__link{
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .burger{
        display: none;
    }
    .achievements{
        grid-template-rows: repeat(3, 1fr);
    }
    .achievements__container{
        grid-template-columns: repeat(4, 1fr);
    }
    .achievements__item{
        grid-row: 2;
    }
    .portfolio__container{
        grid-template-columns: repeat(3, 27vw);
        grid-template-rows: repeat(3, 27vw);
        color: #fff;
    }
    .portfolio__item__image:hover > .portfolio__item__overlay > h2{
        padding-top: 120px;
    }
    .contact__container{
        grid-template-columns: 42% 29% 29%;
    }
    .contact__inputs-name,
    .contact__inputs-email{
        grid-row: 1;
    }
    .contact__inputs-name{
        grid-column: 2;
    }
    .contact__inputs-email{
        grid-column: 3;
    }
    .contact__inputs-title{
        grid-column: 2/4;
        grid-row: 2;
    }
    .contact__inputs-comment{
        grid-column: 2/4;
        grid-row: 3;
    }
    .contact__container > a{
        grid-column: 2;
        grid-row: 4;
    }
           
}
@media only screen and (max-width: 991px) {
    .burger{
        z-index: 50;
    
        display: flex;
        height: 32px;
        width: 20px;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
    }
    .burger__icon{
        z-index: 50;
    
        display: flex;
        height: 32px;
        width: 20px;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
    }
    .burger__span,
    .burger__span-top,
    .burger__span-bott{
        float: left;
        width: 20px;
        height: 2px;
        z-index: 50;
    
        background-color: rgb(37, 37, 37);
        transition: 0.2s;
    }
    .burger__span-top,
    .burger__span-bott{
        position: absolute;
    }
    .burger__span-top{
        transform: translateY(-7px);
    }
    .burger__span-bott{
        transform: translateY(7px);
    }
    @keyframes burger {
        0%{
           width: 20px;

        }
        50%{
            width: 10px;

        }
        100%{
            width: 20px;

        }
    }
    .burger__icon-play_animation:hover > .burger__span-top{
        animation: burger 0.4s ease-in-out 0s;
    }
    .burger__icon-play_animation:hover > .burger__span{
        animation: burger 0.4s ease-in-out 0.1s;
    }
    .burger__icon-play_animation:hover > .burger__span-bott{
        animation: burger 0.4s ease-in-out 0.2s;
    }
    .burger__nav{
        display: grid;
        margin-top: 35vh;
        grid-template-columns: 1fr 10fr 1fr;
        justify-items: center;
    }
    .burger__nav__link{
        grid-column: 2;
        padding: 3px 0;

        font-family: Playfair Display;
        font-size: 1.7rem;
        font-weight: 700;
        text-decoration: none;
        font-weight: 700;
        color: #d8d8d8;

        transition: 0.3s;
    }
    .burger__nav__link:hover{
        color: #fff;
    }
    .burger__overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;

        display: block;
        width: 100vw;
        height: 100vh;

        text-align: center;

        cursor: default;
        background-image: url(assets/images/bg-menu.jpg);
        background-position: 50% 50%;
        background-size: cover;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    .burger-active .burger__span-top,
    .burger-active .burger__span-bott{
        background-color: #fff;
    }

    .burger-active .burger__span-top{
        transform: rotate(-45deg);
    }
    .burger-active .burger__span-bott{
        transform: rotate(45deg);
    }
    .burger-active .burger__span{
        height: 0px;
    }
    .burger-active .burger__overlay{
        visibility: visible;
        opacity: 1;
    }
    .nav__link{
        display: none;
    }
    .achievements{
        grid-template-rows: 1fr 2fr 1fr;
    }
    .achievements__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .portfolio__container{
        grid-template-columns: repeat(2, 42vw);
        grid-template-rows: repeat(5, 42vw);
    }
    .portfolio__item__image:hover > .portfolio__item__overlay > h2{
        padding-top: 120px;
    }
    .contact__container{
        grid-template-columns: 1fr 1fr;
    }
    .contact__header,
    .contact__text,
    .contact__contact_details,
    .contact__inputs{
        grid-column: 1/3;
    }
    .contact__inputs{
        margin: 0;
        margin-top: 30px;
    }
    .contact__inputs-name,
    .contact__inputs-email{
        grid-row: 4;
    }
    .contact__inputs-name{
        grid-column: 1;
        margin-right: 15px !important;
    }
    .contact__inputs-email{
        grid-column: 2;
        margin-left: 15px !important;
    }
    .contact__button{
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) {
    .achievements{
        grid-template-rows: 1fr 4fr 1fr;
    }
    .achievements__container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .portfolio__container{
        grid-template-columns: 83vw;
        grid-template-rows: repeat(9, 83vw);
    }
    .portfolio__item__overlay > h2{
        padding-top: 45%;
    }
    .portfolio__item__image:hover > .portfolio__item__overlay > h2{
        padding-top: 40%;
    }
    .contact__container{
        grid-template-columns: 100%;
    }
    .contact__header,
    .contact__text,
    .contact__contact_details,
    .contact__inputs{
        grid-column: 1;
    }
    .contact__inputs-name{
        grid-row: 4;
    }
    .contact__inputs-email{
        grid-row: 5;
    }
    .contact__inputs{
        margin: 0 !important;
        margin-top: 30px !important;
    }
    .contact__button{
        margin-left: 0;
    }
  
}
